<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99334390807-uj2a8ovev33htlq0909e0ch34hbg4o6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99334390807-uj2a8ovev33htlq0909e0ch34hbg4o6v</string>
	<key>API_KEY</key>
	<string>AIzaSyAyCYSunZCbR-B_-pQfTk0h0qOHqNtIQxo</string>
	<key>GCM_SENDER_ID</key>
	<string>99334390807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mercury</string>
	<key>PROJECT_ID</key>
	<string>mercury-1bddd</string>
	<key>STORAGE_BUCKET</key>
	<string>mercury-1bddd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99334390807:ios:887ad5de70b1d378ee4852</string>
</dict>
</plist>